{% extends "base.html" %}
<!--  -->
{% block contenu %}

<div class="row mt-2">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <form method="POST">
        {% csrf_token %}
        <div class="alert alert-danger" role="alert">
          Etes-vous sur de supprimer {{ contact }}
        </div>
        <button class="btn btn-danger" type="submit">OUI</button>
        <a href="{% url 'contacts' %}" class="btn btn-info">NON</a>
      </form>
    </div>
  </div>
</div>

{% endblock %}
